/* 
.DA-Container {
    padding: 0 162px;
}

.DA_Hero {
    background-image: url("/assets/img/Square-effect.png");
    background-repeat: repeat;
    height: 100vh;
    padding-top: 212px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border: 1px solid var(--whit-gray-color);
}

.DA_Hero img {
    height: 41.48%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-repeat: repeat;
}
.DA_Title{
    font-weight: 600;
    font-size: 68px;
    text-align: center;
    color: #FFFFFF;
}
.DA_Hero .DA_Paragraph span {
    padding: 8px 10px;
    background-color: var(--whit-gray-color);
    border-radius: 8px;
    color: #fff;
}

.DA_Hero .DA_Btns {
    display: flex;
    gap: 13px;
    margin-top: 50px;
}

.DA_Hero .DA_Btn {
    text-decoration: none;
    font-size: 18px;
    padding: 18px 28px;
    border: 1px solid var(--whit-gray-color);
    border-radius: 10px;
    background-color: #24242433;
    border: 1px solid #333333;
    backdrop-filter: blur(12px);
    color: #fff;
    cursor: pointer;
    transition: 0.2s all;
}
.DA_Hero .DAGreen_Btn {
    text-decoration: none;
    font-family: barlow5;
    font-size: 18px;
    padding: 18px 28px;
    border: 1px solid var(--whit-gray-color);
    border-radius: 10px;
    background-color: var(--lime-green-color);
    border: 1px solid #333333;
    backdrop-filter: blur(12px);
    color: black;
    cursor: pointer;
    transition: 0.2s all;
}

@media screen and (max-width: 1440px) {
    .DA-Container {
        padding: 0 80px;
    }

    .DA_Hero {
        padding-top: 197px;

    }

    .DA_Hero .DA_Title {
        font-size: 48px;
        margin-bottom: 30px;
        max-width: 699px;
    }

    .DA_Hero .DA_Paragraph {
        max-width: 699px;
        font-size: 18px;
        padding: 18px 30px;
        margin-bottom: 40px;
    }

    .DA_Hero .DA_Btn {
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-items: center;
    }

}

@media screen and (max-width: 992px) {

    .DA-Container {
        padding: 0 16px;
    }


    .DA_Hero {
        padding-top: 100px;
        height: auto;
        min-height: 100vh;
        padding-left: 16px;
        padding-right: 16px;

    }

    .DA_Hero .DA_Title {
        font-size: 34px;
        margin-top: -40px;
    }

    .DA_Hero .DA_Paragraph {
        font-size: 16px;
        padding: 18px 20px;
        line-height: 1.5;
        margin-top: -20px;
        color: #98989A;
    }

    .DA_Hero .DA_Paragraph span {
        color: #98989A;
        background: none;
        white-space: nowrap;
        background-color: transparent;
        backdrop-filter: none;
    }
} */
.DA-Container{
    margin: 0 162px;
    background-image: url("/assets/img/Square-effect.png");
    background-repeat: repeat;  
    height: 100vh; 
    position: relative;
    overflow: hidden;
    .DA_Hero{
    background-image: url("/assets/img/heroSection p Home.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;  
        height: 100%;
        padding-top: 112px;
        padding-bottom: 274px;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--whit-gray-color);
        h1{
            max-width: 50%;
            font-weight: 600;
            font-size: 68px;
            padding-bottom: 40px;
            text-align: center;
            color: #FFFFFF;
        }
            .DA_Paragraph{
                background-color: #24242433;
                backdrop-filter: blur(12px);
                border: 1px solid var(--whit-gray-color);
                border-radius: 12px;
                height: 98px;
                p{
                color: #98989A;
                display: flex;
                align-items: center;
                gap: 6px;
                padding: 24px 40px;
                span{
                    padding: 12px 14px;
                    background-color: var(--whit-gray-color);
                    border-radius: 8px;
                    color: #fff;
                }
            }
        }
        .DA_Btns{
            display: flex;
            align-items: center;
            gap: 13px;
            margin-top: 50px;
            .DA_Btn{
                text-decoration: none;
                font-size: 18px;
                padding: 18px 28px;
                border: 1px solid var(--whit-gray-color);
                border-radius: 10px;
                background-color: #24242433;
                border: 1px solid #333333;
                backdrop-filter: blur(12px);
                color: #fff;
                cursor: pointer;
                transition: 0.2s all;
            }
            .DAGreen_Btn{
                text-decoration: none;
                font-size: 18px;
                padding: 18px 28px;
                border: 1px solid var(--whit-gray-color);
                border-radius: 10px;
                background-color: var(--lime-green-color);
                border: 1px solid #333333;
                backdrop-filter: blur(12px);
                color: black;
                cursor: pointer;
                transition: 0.2s all;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .DA-Container {
        margin: 0 80px;
        .DA_Hero{
            /* background-size: contain; */
            background-position: center 106%;
            h1{
                max-width: 40%;
                font-size: 48px;
                padding-bottom: 30px;
                /* max-width: 699px; */
            }
            .DA_Paragraph{
                height: 74px;
                border-radius: 8px;
                p{
                    padding: 18px 30px;
                    span{
                        font-size: 18px;
                        padding: 8px 10px;
                    }
                }
            }
            .DA_Btns{
                margin-top: 40px;
                .DA_Btn{
                    padding: 14px 20px;
                    font-size: 14px;
                }
                .DAGreen_Btn{
                    padding: 14px 20px;
                    font-size: 14px;
                }
            }
        }

    }
/* 
    .DA_Hero .DA_Btn {
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-items: center;
    } */

/* } */
.DA-Container{
    margin: 0 162px;
 background-image: url("/assets/img/Square-effect.png");
        background-repeat: repeat;  
    height: 100vh; 
    position: relative;
    overflow: hidden;
    .DA_Hero{
    background-image: url("/assets/img/heroSection p Home.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;  
        height: 100%;
        padding-top: 112px;
        padding-bottom: 274px;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--whit-gray-color);
        h1{
            max-width: 50%;
            font-weight: 600;
            font-size: 68px;
            padding-bottom: 40px;
            text-align: center;
            color: #FFFFFF;
        }
            .DA_Paragraph{
                background-color: #24242433;
                backdrop-filter: blur(12px);
                border: 1px solid var(--whit-gray-color);
                border-radius: 12px;
                height: 98px;
                p{
                color: #98989A;
                display: flex;
                align-items: center;
                gap: 6px;
                padding: 24px 40px;
                span{
                    padding: 12px 14px;
                    background-color: var(--whit-gray-color);
                    border-radius: 8px;
                    color: #fff;
                }
            }
        }
        .DA_Btns{
            display: flex;
            align-items: center;
            gap: 13px;
            margin-top: 50px;
            .DA_Btn{
                text-decoration: none;
                font-size: 18px;
                padding: 18px 28px;
                border: 1px solid var(--whit-gray-color);
                border-radius: 10px;
                background-color: #24242433;
                border: 1px solid #333333;
                backdrop-filter: blur(12px);
                color: #fff;
                cursor: pointer;
                transition: 0.2s all;
            }
            .DAGreen_Btn{
                text-decoration: none;
                font-size: 18px;
                padding: 18px 28px;
                border: 1px solid var(--whit-gray-color);
                border-radius: 10px;
                background-color: var(--lime-green-color);
                border: 1px solid #333333;
                backdrop-filter: blur(12px);
                color: black;
                cursor: pointer;
                transition: 0.2s all;
            }
        }

    }
}
}
@media screen and (max-width: 1440px) {
    .DA-Container {
        margin: 0 80px;
        .DA_Hero{
            /* background-size: contain; */
            background-position: center 106%;
            h1{
                max-width: 40%;
                font-size: 48px;
                padding-bottom: 30px;
                /* max-width: 699px; */
            }
            .DA_Paragraph{
                height: 74px;
                border-radius: 8px;
                p{
                    padding: 18px 30px;
                    span{
                        font-size: 18px;
                        padding: 8px 10px;
                    }
                }
            }
            .DA_Btns{
                margin-top: 40px;
                .DA_Btn{
                    padding: 14px 20px;
                    font-size: 14px;
                }
                .DAGreen_Btn{
                    padding: 14px 20px;
                    font-size: 14px;
                }
            }
        }

    }
/* 
    .DA_Hero .DA_Btn {
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-items: center;
    } */

}
@media screen and (max-width: 992px) {
    .DA-Container {
        margin: 0 ;
        /* background-size: 200% 48% ; */
        /* background-position: bottom; */
        .DA_Hero {
            background-size: 239% 43%;
            padding: 80px 16px 205px 16px;
            padding-left: 0;
            padding-right: 0;
            margin: 0 16px;
            border: none;
            h1{
                max-width: 100%;
                font-size: 34px;
            }
            .DA_Paragraph{
                display: flex;
                align-items: center;
                max-height: 100%;
                p{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    /* align-items: center; */
                    text-align: center;
                    /* gap: 20px; */
                    padding: 18px 20px;
                    span{
                        all: unset;
                        display: inline;
                    }
                }
            }
        }
    }
}