/* ===============================
Trusted Logos Section
================================ */

/* الحاوية العامة */
.logos-wrapper {
    position: relative;
    padding: 0 161px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: -440px;
    background-color: var(--dark-gray-color);
}

.logos-title {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border: 1px solid #262626;
    background-color: #1A1A1A;
    padding: 20px 34px;
    border-radius: 100px;
    white-space: nowrap;
}

/* صندوق اللوجوهات */
.logos-box {
    width: 100%;
    padding: 56px 20px 52px;
    border: 1px solid var(--whit-gray-color);
    box-sizing: border-box;
}
/* container اللوجوهات */
.logos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr)); /* مرن على الشاشات الكبيرة */
    gap: 30px;
    justify-items: center;
    align-items: center;
}

/* كل لوجو */
.logo {
    height: 32px;
    width: auto;
    opacity: 0.9;
    transition: opacity 0.2s ease;
}

.logo:hover {
    opacity: 1;
}

/* ===============================
Trusted Logos Section Media Queries
================================ */

/* للشاشات أقل من 1440px */
@media screen and (max-width: 1440px) {
    .logos-wrapper {
        padding: 0 80px;
    }

    .logos-title {
        font-size: 16px;
        padding: 14px 24px;
    }

    .logos-box {
        padding: 48px 16px 44px;
    }

    .logos-container {
        gap: 60px;
        
    }

    .logo {
        height: 28px;
        
}

/* للشاشات أقل من 992px */
@media screen and (max-width: 992px) {
    .logos-wrapper {
        padding: 0 16px;
        margin-top: -300px;
        background-color: var(--dark-gray-color);
    }
    
    .logos-title {
        font-size: 14px;
    }

    .logo {
        height: 24px;
    }
    .logos-container {
        grid-template-columns: repeat(3, 1fr); 
        gap: 25px;
    }

}
}